<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{title}}</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>All storms lead to darkness.</p>
      <img class="aboutImg" src="/img/tb.webp">
  </div>
    {{>footer}}
</body>
<script>
  const message = 'js is running on this page!'
console.log(message)
</script>
</html>