body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.aboutImg {
  width: 100%;
}

input {
  border: 0;
  background-color:#d8d8d8;
  padding: .5rem;
  padding-left: 1rem;
  height: 2rem;
  border-radius: 32px;
  font-size: 1.25rem;
  color:#001652;
}

button {
  border: 0;
  background-color:#00ffbf;
  padding: 1rem;
  border-radius: 16px;
  color:#ffffff;
  font-size: 1.25rem;
  cursor: pointer;
}
